body {
    background-color: #F0F0F0;
}

header {
    background-color: #a7d7ff;
    color: #FFF;
}

nav, .nav-button-mobile {
    background-color: #0091d2;
}

article {
    background-color: #fff;
}

h2 {
    background-color: #FFF;
}

footer {
    background-color: #a7d7ff;
    color: #000;
}

a {
    color: #FFF;
}
